@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
<<<<<<< HEAD
/* 
=======

>>>>>>> 49fcb0de0452b105d95b4c7ab869834a63f6c37e
body {
	font-family: "East Sea Dokdo", sans-serif;
	font-weight: 400;
	font-style: normal;
<<<<<<< HEAD
} */
=======
}
>>>>>>> 49fcb0de0452b105d95b4c7ab869834a63f6c37e

